<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmm.kyc">

    <application>
        <activity
            android:name=".scan_document.ScanDocument"
            android:exported="false" />
        <activity
            android:name=".ui.KycActivity"
            android:exported="true" />
    </application>

</manifest>