<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketmoney">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketMoney">
        <activity
            android:name=".mlm.ui.forgotpassword.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".common.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".common.TransactionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".mlm.ui.payouts.NewPayout"
            android:exported="true" />
        <activity
            android:name=".mlm.ui.mobilerecharge.simpleui.NewRechargeActivity"
            android:exported="true" />
        <activity
            android:name=".shopping.ui.checkoutorder.NewCheckout"
            android:exported="true" />
        <activity
            android:name=".mlm.ui.membership.ActivateAccount"
            android:exported="true" />
        <activity android:name=".mlm.ui.mobilerecharge.MobileNumberDetail" /> <!-- <activity android:name=".mlm.ui.mobilerecharge.SelectLocation" /> -->
        <activity android:name=".mlm.ui.AddMoneyToWallet" />
        <activity android:name=".mlm.ui.payouts.Payouts" />
        <activity android:name=".mlm.ui.transfermoney.B2BTransfer" /> <!-- <activity android:name=".mlm.ui.transfermoney.PayToWallet" /> -->
        <!-- <activity android:name=".mlm.ui.transfermoney.SendMoneyToMobile" /> -->
        <activity android:name=".mlm.ui.dashboard.AccountActivity" />
        <activity android:name=".mlm.ui.transfermoney.QRCodeScanner" />
        <activity android:name=".mlm.ui.customergrowth.CustomerGrowthNCommission" />
        <activity android:name=".shopping.ui.AddNewAddress" />

        <activity android:name=".mlm.ui.dashboard.ComplaintList" />
        <activity android:name=".mlm.ui.dashboard.MyCoupons" />
        <activity android:name=".mlm.ui.dashboard.CustomerWalletActivity" />
        <activity android:name=".mlm.ui.dashboard.CustomerProfile" /> <!-- <activity android:name=".mlm.ui.dashboard.CustomerGrowthActivity" /> -->
        <!-- <activity android:name=".mlm.ui.dashboard.CustomerCommissionActivity" /> -->
        <activity android:name=".mlm.ui.dashboard.IncomeActivity" />
        <activity android:name=".shopping.ui.ExtraNavigationActivity" />
        <activity android:name=".shopping.ui.customernavigation.AllCategories" />
        <activity android:name=".shopping.ui.checkoutorder.OrderSuccessful" />
        <activity android:name=".shopping.ui.SearchProductActivity" />
        <activity android:name=".shopping.ui.customernavigation.MyAccount" />
        <activity android:name=".shopping.ui.customernavigation.MyNotifications" />
        <activity android:name=".shopping.ui.customernavigation.MyWishlist" />
        <activity android:name=".shopping.ui.ShoppingOfferZone" />
        <activity android:name=".shopping.ui.customernavigation.MyOrders" />
        <activity android:name=".shopping.ui.checkoutorder.CheckoutOrder" />
        <activity android:name=".shopping.ui.YourCart" />
        <activity android:name=".mlm.ui.mobilerecharge.MobileRechargeActivity" />
        <activity android:name=".mlm.ui.electricity.ElectricityActivity" />
        <activity android:name=".mlm.ui.dashboard.pages.PaymentHistoryFilter" />
        <activity android:name=".mlm.ui.dth.DthActivity" />
        <activity android:name=".mlm.ui.mobilerecharge.SelectContact" /> <!-- <activity android:name=".mlm.ui.recharge.OperatorsPlan" /> -->
        <!-- <activity android:name=".mlm.ui.recharge.RechargeActivity" /> -->
        <activity android:name=".shopping.ui.BuyProduct" />
        <activity
            android:name=".mlm.ui.dashboard.MainDashboard"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mlm.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>